<div class="cards">
  <ul class="card-list">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <li><div class="card">
        <h4><%= post.title %></h4>
        <p><%= post.created_at %></p>
        <% if post.photos.attached? %>
          <span class="with-image"><%= post.rich_content %></span>
          <%= cl_image_tag post.photos.first.key, alt: post.title %>
        <% else %>
          <span class="no-image"><%= post.rich_content %></span>
        <% end %>
        <div class="iconset">
          <div id="ctgry"><%= post.categories[0].name %></div>
          <div id="vote_score"><%= post.vote_score %></div>
        </div>
      </div></li>
      <% end %>
    <% end %>
  </ul>
</div>
