<div class="cards">
  <ul class="card-list">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <li><div class="feed-card">
        <div class="iconset">
          <!-- <% if post.categories.present? %>
            <div id="ctgry"><%= post.categories[0].name %></div>
          <% end %> !-->
          <div id="vote_score">
            <i class="fas fa-arrow-alt-circle-up"></i> <%= post.cached_weighted_score %>
          </div>
        </div>
        <div class="card-content">
          <h4><%= post.title %></h4>
          <p><%= post.created_at %></p>
          <span><%= post.rich_content %></span>
        </div>
      </div></li>
      <% end %>
    <% end %>
  </ul>
</div>
