<div class="navbar navbar-light navbar-lewagon">
    <%= link_to home_path, class: "navbar-brand nav1", label: "feed" do %>
      <%= image_tag "logo_sm.webp", alt: "Logo ukrAID" %>
    <% end %>

    <div class="dropdown nav2">
      <% if params[:location] == "ukraine" %>
        <button class="dropbtn">Ukraine <i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-content">
          <a href="/home?location=world">World</a>
        </div>
      <% else %>
        <button class="dropbtn">World  <i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-content">
          <a href="/home?location=ukraine">Ukraine</a>
        </div>
      <% end %>
    </div>

    <button class="navbar-toggler nav3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
    </button>

    <div class="search-box nav4" data-search-target="searchbar">
      <%= form_tag home_path, method: :get do %>
        <div class="search-input">
          <%= text_field_tag :query,
            params[:query],
            class: "search-txt form-control",
            placeholder: "Search Posts",
            data: { search_target: "input" }
          %>
          <%= button_tag type: "submit", class: "btn btn-primary search-btn-bar" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse nav5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Feed", home_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Post", new_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "All Categories", all_categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>

          <!-- <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", "#", class: "dropdown-item" %>
              <%= link_to "Login", "#", class: "dropdown-item" %>
              <%= link_to "Logout", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li> -->
        <% else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
          <li class="nav-item active">
            <%= link_to "Feed", home_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "All Categories", all_categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
