<% content_for :title do %>
  Dashboard | ukrAID - Stand with Ukraine
<% end %>


<div class="dashboard-head">
  <h1>Dashboard</h1>
    <%= link_to edit_user_registration_path(current_user), class: "userinfo" do %>
      <p id="hi-user">Hi <%= current_user.username %> <sup><span><i class="fas fa-edit"></i></span></sup></p>
    <% end %>
  <br>
  <p>Find your published, pending and saved posts:</p>
  <div class="dash-buttons">
    <% if current_user.role == 1 %>
      <%= link_to dashboard_path(anchor: 'pending'), class: 'admin-btn mari' do %>
        <i class="far fa-hourglass-half"></i> Pending
      <% end %>
    <% end %>
    <%= link_to dashboard_path(anchor: 'saved'), class: 'admin-btn mari' do %>
      <i class="fas fa-bookmark"></i> Saved
    <% end %>
    <%= link_to dashboard_path(anchor: 'published'), class: 'admin-btn mari' do %>
      <i class="fas fa-upload"></i> My Posts
    <% end %>
  </div>
  <% if current_user.role == 1 %>
    <div class="badge-admin">Admin</div>
  <% end %>
</div>

<div class="dashboard">

  <% if current_user.role == 1 %>
    <div class="dashboard-card">
      <h2 id="pending">Pending posts (<%= @pending_posts.length unless @pending_posts.nil? %>)</h2>
      <% if @pending_posts.any? %>
        <% @posts = @pending_posts %>
        <%= render 'shared/cards' %>
      <% else %>
        <p id="post-info">No outstanding posts!</p>
      <% end %>
    </div>
  <% end %>

  <hr>

  <div class="dashboard-card">
    <h2 id="saved">Saved posts (<%= @saved_posts.length unless @saved_posts.nil? %>)</h2>
    <% if @saved_posts.any? %>
      <% @posts = @saved_posts %>
      <%= render 'shared/cards' %>
    <% else %>
      <p id="post-info">You haven't saved any posts yet!</p>
    <% end %>
  </div>

  <hr>

  <div class="dashboard-card">
    <h2 id="published">My Posts (<%= @my_posts.length unless @my_posts.nil? %>)</h2>
    <% if @my_posts.any? %>

      <h5>Published (<%= @my_published_posts.length unless @my_published_posts.nil?%>)</h5>
      <% if @my_published_posts.any? %>
        <% @posts = @my_published_posts %>
        <%= render 'shared/cards' %>
      <% end %>

      <h5>Pending (<%= @my_pending_posts.length unless @my_pending_posts.nil? %>)</h5>
      <% if @my_pending_posts.any? %>
        <% @posts = @my_pending_posts %>
        <%= render 'shared/cards' %>
      <% end %>

    <% else %>
      <p id="post-info">You haven't posted anything yet - <%= link_to 'do it now', new_post_path, class: 'ylink' %>!</p>
    <% end %>
  </div>
</div>
