<% content_for :title do %>
  My dashboard | ukrAID - Stand with Ukraine
<% end %>


<div class="dashboard-head">
  <h1>Dashboard</h1>
  <h4>Hi <%= current_user.username %>!</h4>
  <br>
  <p>Find your pending, saved and published posts:</p>
  <div class="dash-buttons">
    <%= link_to 'Pending', dashboard_path(anchor: 'pending'), class: 'btn-cta' %>
    <%= link_to 'Saved', dashboard_path(anchor: 'saved'), class: 'btn-cta' %>
    <%= link_to 'Published', dashboard_path(anchor: 'published'), class: 'btn-cta' %>
  </div>
  <% if current_user.role == 1 %>
    <div class="badge-admin">Admin</div>
  <% end %>
</div>

<div class="dashboard">

  <% if current_user.role == 1 %>
    <div class="dashboard-card">
      <h2 id="pending">Pending posts (<%= @pending_posts.length unless @pending_posts.nil? %>)</h2>
      <% if @pending_posts.any? %>
        <% @posts = @pending_posts %>
        <%= render 'shared/cards' %>
      <% else %>
        <p id="post-info">No outstanding posts!</p>
      <% end %>
    </div>
  <% end %>

  <hr>

  <div class="dashboard-card">
    <h2 id="saved">Saved posts (<%= @saved_posts.length unless @saved_posts.nil? %>)</h2>
    <% if @saved_posts.any? %>
      <% @posts = @saved_posts %>
      <%= render 'shared/cards' %>
    <% else %>
      <p id="post-info">You haven't saved any posts yet!</p>
    <% end %>
  </div>

  <hr>

  <div class="dashboard-card">
    <h2 id="published">Posts (<%= @my_posts.length unless @my_posts.nil? %>)</h2>
    <% if @my_posts.any? %>

      <h5>Published (<%= @my_published_posts.length unless @my_published_posts.nil?%>)</h5>
      <% if @my_published_posts.any? %>
        <% @posts = @my_published_posts %>
        <%= render 'shared/cards' %>
      <% end %>

      <h5>Pending (<%= @my_pending_posts.length unless @my_pending_posts.nil? %>)</h5>
      <% if @my_pending_posts.any? %>
        <% @posts = @my_pending_posts %>
        <%= render 'shared/cards' %>
      <% end %>

    <% else %>
      <p id="post-info">You haven't posted anything yet - <%= link_to 'do it now', new_post_path, class: 'ylink' %>!</p>
    <% end %>
  </div>
</div>
