<h2>Hi <%= current_user.username %>!</h2>
<h3>My dashboard</h3>

<% if current_user.role == 1 %>
  <div class="dashboard-card">
    <h4>Pending posts (<%= @pending_posts.length %>)</h4>
    <% if @pending_posts.any? %>
      <% @posts = @pending_posts %>
      <%= render 'shared/cards' %>
    <% else %>
      <p>No outstanding posts!</p>
    <% end %>
  </div>
  <hr>
<% end %>

<div class="dashboard-card">
  <h4>Your saved posts (<%= @saved_posts.length %>)</h4>
  <% if @saved_posts.any? %>
    <% @posts = @saved_posts %>
    <%= render 'shared/cards' %>
  <% else %>
    <p>You haven't saved any posts yet!</p>
  <% end %>
</div>

<hr>

<div class="dashboard-card">
  <h4>Your posts (<%= @my_posts.length %>)</h4>
  <% if @my_posts.any? %>

    <% if @my_published_posts.any? %>
      <h5>Your published posts (<%= @my_published_posts.length %>)</h5>
      <% @posts = @my_published_posts %>
      <%= render 'shared/cards' %>
    <% end %>

    <% if @my_pending_posts.any? %>
      <h5>Your pending posts (<%= @my_pending_posts.length %>)</h5>
      <% @posts = @my_pending_posts %>
      <%= render 'shared/cards' %>
    <% end %>

  <% else %>
    <p>You haven't posted anything yet - <%= link_to 'do it now', new_post_path %>!</p>
  <% end %>
</div>
<br>
<br>
<br>
