<% content_for :title do %>
  Create a post | ukrAID - Stand with Ukraine
<% end %>

<div class="forms">
  <h1>Create new post</h1>
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title,
                  placeholder: "Title",
                  minlength: 4,
                  maxlength: 60,
                  label: 'Title (required)' %>
      <%= f.input :photos,
                  as: :file,
                  input_html: { multiple: true },
                  label: 'Add images to your post (optional)' %>
      <%= f.label 'Content (required)'%>
      <%= f.rich_text_area :rich_content,
                          required: true,
                          label: 'Post Content' %>
      <br>
      <input type="checkbox" id="my_checkbox" style="display:none;">
        <div id="hidden">
          <%= f.input :phone_number,
                      as: :tel,
                      input_html: { type: 'tel' },
                      placeholder: '00 380 9202 2 2 22',
                      label: 'Add a contact phone number (Optional)' %>
          <%= f.input :email,
                      as: :email,
                      input_html: { type: 'email' },
                      placeholder: 'someone@gmail.com',
                      label: 'Add a contact email address (Optional)' %>
          <%= f.input :website,
                      as: :url,
                      input_html: { type: 'url' },
                      placeholder: 'https://www.ukraid.com',
                      label: 'Add a corresponding website (Optional)' %>
        </div>
        <label for="my_checkbox" class="submit-btn">Add contact details</label>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Continue', class: "save-btn marge-bot" %>
      <!-- add continue button to categories with submit function !-->
    </div>
  <% end %>
</div>
