<div class="forms">
  <h1>Create new post</h1>
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title, placeholder: "Title", label: 'Post Title (Required)' %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Add images to your post (Optional)' %>
      <%= f.label 'Post Content (Required)'%>
      <%= f.rich_text_area :rich_content, required: true, label: 'Post Content' %>
      <%= f.input :phone_number, as: :tel, placeholder: '00 380 9202 2 2 22', label: 'Add a contact phone number (Optional)' %>
      <%= f.input :email, as: :email, placeholder: 'someone@gmail.com', label: 'Add a contact email address (Optional)' %>
      <%= f.input :website, as: :url, placeholder: 'www.ukraid.com', label: 'Add a corresponding website (Optional)' %>
      <%= hcaptcha_tags, size: invisible %>
      <div id="list1"
           class="dropdown-check-list"
           tabindex="100"
           data-controller="dropdown"
           data-action="click->dropdown#dropdown">

        <span class="anchor">Select categories</span>
        <ul class="items">
          <% @categories.each do |cat| %>
            <li><input type="checkbox" /> <%= cat.name %> </li>
          <% end %>
        </ul>
      </div>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit,
                  data: { disable_with: false },
                  class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
