<div class="post">
  <h1><%= @post.title %></h1>
  <p><%= @post.created_at %></p>

  <div class="icons">
    <div class="upvotes">
      <%= @post.vote_score %>
    </div>
    <div class="category">
      <%= @category.name %>
    </div>
  </div>

  <% if @post.photos.attached? %>
    <%= render 'shared/carousel' %>
  <% end %>
  <br>


  <div class="contact-details">
    <% if @post.phone_number.present? %>
      <%= link_to 'Call', "tel:#{@post.phone_number}", class: "btn btn-cta-primary" %>
    <% end %>
    <% if @post.email.present? %>
      <%= mail_to 'Mail', @post.email, class: "btn btn-cta-secondary" %>
    <% end %>
    <% if @post.website.present? %>
      <%= link_to 'Website', @post.website, class: "btn btn-cta-secondary" %>
    <% end %>
  </div>

  <div class="description">
    <span> <%= @post.rich_content %></span>
  </div>

  <br>
  <% if @post.addresses.present? %>
    <%= render 'shared/map' %>
  <% end %>
</div>

<!-- upvote functionality >
