<div class="post">
  <h1><%= @post.title %></h1>
  <p>Posted by <em><%= @post.user.username %></em> on <%= @post.created_at %></p>

  <div class="icons">
    <div class="upvotes">
      <%= @post.cached_weighted_score %>
    </div>
    <% if @post.categories.present? %>
      <% @post.categories.each do |cat| %>
        <%= link_to category_path(cat) do %>
          <div class="category">
            <%= cat.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @post.photos.attached? %>
    <%= render 'shared/carousel' %>
  <% end %>
  <br>


  <div class="contact-details">
    <% if @post.phone_number.present? %>
      <%= phone_to @post.phone_number, class: "btn-cta-call" do %>
        <i class="fas fa-phone-alt"></i> Call
      <% end %>
    <% end %>

    <% if @post.email.present? %>
      <%= mail_to @post.email, class: "btn-cta" do %>
        <i class="fas fa-at"></i> Mail
      <% end %>
    <% end %>

    <% if @post.website.present? %>
      <%= link_to @post.website, class: "btn-cta" do %>
        <i class="fas fa-globe"></i> Website
      <% end %>
    <% end %>
  </div>

  <div class="description">
    <span> <%= @post.rich_content %></span>
  </div>

  <br>

  <!-- Map showing addresses of post -->
  <% if @post.addresses.present? %>
    <%= render 'shared/map' %>
  <% end %>

  <% if user_signed_in? %>

    <br>
    <hr>
    <br>

    <!-- Save / Unsave this post to dashboard -->
    <% if current_user.favorited?(@post) %>
      <%= button_to "Delete bookmark", unsave_post_post_path, form_class: "unsave-btn" %>
    <% else %>
      <%= button_to "Bookmark post", save_post_post_path, form_class: "save-btn" %>
    <% end %>

    <br>
    <hr>
    <br>

    <!-- Vote functionality -->
    <div class="voting">
      <% case current_user.voted_as_when_voted_for @post %>
      <% when nil %>
        <%= button_to "Upvote post", upvote_post_post_path, form_class: "upvote-btn" %>
        <div id="vote_score"><%= @post.cached_weighted_score %></div>
        <%= button_to "Downvote post", downvote_post_post_path, form_class: "downvote-btn" %>
      <% when true %>
        <!-- Upvote (Active => no button / different design) -->
        <div id="vote_score"><%= @post.cached_weighted_score %></div>
        <%= button_to "Downvote post", downvote_post_post_path, form_class: "downvote-btn" %>
      <% when false %>
        <%= button_to "Upvote post", upvote_post_post_path, form_class: "upvote-btn" %>
        <div id="vote_score"><%= @post.cached_weighted_score %></div>
        <!-- Downvote (Active => no button / different design) -->
      <% end %>
    </div>

    <!-- Admin actions -->
    <% if current_user.role == 1 %>
      <br>
      <hr>
      <br>
      <div class="admin-action">
        <!-- Publish post -->
        <!-- Delete post -->
      </div>
    <% end %>
  <% end %>
</div>
