<div class="post">
  <h1><%= @post.title %></h1>

  <!-- Image slider  -->
    <div id="images">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag(@post.photos.first.key, { width: "100%" }) %>
            </div>
            <% @post.photos[1..-1].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag(photo.key, { width: "100%" }) %>
              </div>
            <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  <div class="icons">
    <div class="upvotes">
      <%= @post.vote_score %>
    </div>
    <div class="location">
      Category
    </div>
  </div>

  <div class="contact-details">
    <%= link_to 'Call', "tel:#{@post.phone_number}" %>
    <%= mail_to 'Mail', @post.email %>
    <%= link_to 'Website', @post.website %>
  </div>

  <p> <%= @post.rich_content %></p>
</div>

<!-- upvote functionality >
