<% content_for :title do %>
  <%= @post.title %> | ukrAID - Stand with Ukraine
<% end %>
<% content_for :meta_title, "#{@post.title} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @post.rich_content %>
<% content_for :meta_image, cl_image_path(@post.photos.first.key) if @post.photos.attached? %>


<div class="post">
  <h1><%= @post.title %></h1>
  <p>Posted by <em><%= @post.user.username %></em> on <%= @post.created_at %></p>

  <div class="icons">
    <div class="upvotes">
      <i class="fas fa-arrow-alt-circle-up"></i> <%= @post.cached_weighted_score %>
    </div>
    <% if @post.categories.present? %>
      <% @post.categories.each do |cat| %>
        <%= link_to category_path(cat) do %>
          <div class="category">
            <%= cat.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @post.photos.attached? %>
    <%= render 'shared/carousel' %>
  <% end %>
  <br>

  <!-- Contact buttons -->
  <div class="contact-details">
    <% if @post.phone_number.present? %>
      <%= phone_to @post.phone_number, class: "btn-cta-call" do %>
        <i class="fas fa-phone"></i> Call
      <% end %>
    <% end %>

    <% if @post.email.present? %>
      <%= mail_to @post.email, class: "btn-cta" do %>
        <i class="fas fa-at"></i> Mail
      <% end %>
    <% end %>

    <% if @post.website.present? %>
      <%= link_to @post.website, class: "btn-cta" do %>
        <i class="fas fa-globe"></i> Website
      <% end %>
    <% end %>
  </div>

  <div class="description">
    <span> <%= @post.rich_content %></span>
  </div>

  <br>

  <!-- Map showing addresses of post -->
  <% if @post.addresses.present? %>
    <%= render 'shared/map' %>
  <% end %>

  <% if user_signed_in? %>
    <br>
    <!-- Save / Unsave this post to dashboard -->
    <% if current_user.favorited?(@post) %>
      <%= link_to unsave_post_post_path(anchor: "bookmark"), method: :post, class: "unsave-btn", id: "bookmark" do %>
        <i class="fas fa-bookmark"></i> Delete bookmark
      <% end %>
    <% else %>
      <%= link_to save_post_post_path(anchor: "bookmark"), method: :post, class: "save-btn", id: "bookmark" do %>
        <i class="far fa-bookmark"></i> Save post
      <% end %>
    <% end %>

    <hr>

    <!-- Vote functionality -->
    <div class="voting" id="voting">
      <% case current_user.voted_as_when_voted_for @post %>
      <% when nil %>
        <%= link_to upvote_post_post_path(anchor: "voting"), method: :post, class: "upvote-btn" do %>
          <i class="fas fa-arrow-alt-circle-up"></i> Upvote
        <% end %>
        <div id="vote_score"><%= @post.cached_weighted_score %></div>
        <%= link_to downvote_post_post_path(anchor: "voting"), method: :post, class: "downvote-btn" do %>
          Downvote <i class="fas fa-arrow-alt-circle-down"></i>
        <% end %>
      <% when true %>
        <!-- Upvote (Active => no button / different design) -->
        <div class="upvote-btn upvote-btn-blurred"><i class="fas fa-arrow-alt-circle-up"></i> Upvoted</div>
        <div id="vote_score"><%= @post.cached_weighted_score %></div>
        <%= link_to downvote_post_post_path(anchor: "voting"), method: :post, class: "downvote-btn" do %>
          Downvote <i class="fas fa-arrow-alt-circle-down"></i>
        <% end %>
      <% when false %>
        <%= link_to upvote_post_post_path(anchor: "voting"), method: :post, class: "upvote-btn" do %>
          <i class="fas fa-arrow-alt-circle-up"></i> Upvote
        <% end %>
        <div id="vote_score"><%= @post.cached_weighted_score %></div>
        <!-- Downvote (Active => no button / different design) -->
        <div class="downvote-btn downvote-btn-blurred">Downvoted <i class="fas fa-arrow-alt-circle-down"></i></div>
      <% end %>
    </div>

    <!-- Admin actions -->
    <% if current_user.role == 1 %>
      <div class="admin-action" id="admin-actions">
        <!-- Publish post -->
        <% if @post.pending == true %>
          <%= link_to publish_post_path(anchor: "admin-actions"), data: { confirm: "Are you sure?" }, method: :post, class: "admin-btn" do %>
            <i class="fas fa-upload"></i> Publish Post
          <% end %>
        <% else %>
          <%= link_to unpublish_post_path(anchor: "admin-actions"), data: { confirm: "Are you sure?" }, method: :post, class: "admin-btn" do %>
            <i class="fas fa-ban"></i> Unpublish Post
          <% end %>
        <% end %>
        <!-- Delete post -->
        <%= link_to delete_post_path, data: { confirm: "Are you sure?" }, method: :post, class: "admin-btn" do %>
          <i class="fas fa-trash"></i> Delete Post
        <% end %>
      </div>
    <% end %>
  <% else %>
    <br>
    <hr>
    <br>
    <p class="new-user-notice"><%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> to vote on & bookmark a post!</p>
    <br>
  <% end %>
</div>
