<div class="post">
  <h1><%= @post.title %></h1>

  <% if @post.photos.attached? %>
    <%= render 'shared/carousel' %>
  <% end %>

  <div class="icons">
    <div class="upvotes">
      <%= @post.vote_score %>
    </div>
    <div class="category">
      Category
    </div>
  </div>

  <div class="contact-details">
    <% if @post.phone_number.present? %>
      <%= link_to 'Call', "tel:#{@post.phone_number}", class: "btn btn-cta-primary" %>
    <% end %>
    <% if @post.email.present? %>
      <%= mail_to 'Mail', @post.email, class: "btn btn-cta-secondary" %>
    <% end %>
    <% if @post.website.present? %>
      <%= link_to 'Website', @post.website, class: "btn btn-cta-secondary" %>
    <% end %>
  </div>

  <!-- Show post content -->
  <p> <%= @post.rich_content %></p>

  <br>

  <!-- Map showing addresses of post -->
  <% if @post.addresses.present? %>
    <%= render 'shared/map' %>
  <% end %>

  <br>
  <!-- Save / Unsave this post to dashboard -->

</div>

<!-- upvote functionality >
