<!DOCTYPE html>
<html>
  <head>
    <title>ukrAID - Stand with Ukraine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a46b757c55.js" crossorigin="anonymous"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('logo_favicon.png') %>
  </head>

  <body>
    <div class="wrapper">
      <!-- NAVBAR !-->
      <% unless action_name == 'welcome' %>
        <%= render 'shared/navbar' %>
      <% end %>
      <!-- CONTENT !-->
      <div class="content">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <!-- BOTTOM-MENU !-->
      <% unless action_name == 'welcome' %>
        <%= render 'shared/bottom-menu' %>
      <% end %>

    </div>
  </body>
</html>
