<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <meta property="og:image" content="<%= meta_image %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a46b757c55.js" crossorigin="anonymous"></script>
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="wrapper" data-controller="search" data-search-target="body">

      <!-- NAVBAR !-->
      <% unless action_name == 'welcome' %>
        <%= render 'shared/navbar' %>
      <% end %>

      <!-- CONTENT !-->
      <div class="content">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>

      <!-- BOTTOM-MENU !-->
      <% unless action_name == 'welcome' %>
        <%= render 'shared/bottom-menu' %>
      <% end %>

      <!-- FOOTER !-->
      <% unless action_name == 'welcome' %>
        <%= render 'shared/footer' %>
      <% end %>

    </div>
  </body>
</html>
